:root{
    --mainRed:#800d05;
    --lightRed:#f77331;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --mainYellow:#bf9904;

}
body{
   font-family: 'Oswald', sans-serif !important;
   background: var(--mainWhite) !important;
   color: var(--mainDark) !important;
}
.text-title{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}
.text-red{
    color: var(--mainRed);
}
.text-bright{
    color: var(--lightRed);
}

.btn-black {
    background : transparent;
    text-transform : capitalize;
    font-size : 0.8rem !important;
    color : var(--mainDark);
    border-radius: 0 !important;
    border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
    background: var(--mainDark) !important;
    color: var(--mainWhite) !important;
}

.cart-icon {
    cursor: pointer;
    font-size: 1.2rem;
    color: var(--mainYellow);
}